<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <ul class="breadcrumbs pull-left">
                    <li><span><a [routerLink]="['/home']">Parametrizar</a></span></li>
                    <li><span><a [routerLink]="['/home', {outlets: {'content': [ 'gestionar-ent' ]}}]"> &nbsp; Instituciones Prestadoras de Servicios de Salud Asociadas</a></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="main-content-inner mt-3">
    <div class="row">
        <div class="col col-md-12 text-center">
            <h4 class="page-title" *ngIf="eps != null && ips != null">{{ eps.nombre }} / {{ ips.nombre }}</h4>
        </div>
    </div>
    <br>
    <ngb-tabset type="pills">
        <ngb-tab title="Relacionar EPS / IPS">
            <ng-template ngbTabContent>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card bg-white h-100">
                            <div class="card-body">
                                <app-asociar-ips [isCalledModal]="false"></app-asociar-ips>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Mecanismos de Pago">
            <ng-template ngbTabContent>
                Contenido de mecanismos de pago
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Contrato">
            <ng-template ngbTabContent>
                Contenido de Contrato
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Listado de Precios">
            <ng-template ngbTabContent>
                Contenido de Listado de precios
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Usuario">
            <ng-template ngbTabContent>
                Contenido de Usuario
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Perfiles">
            <ng-template ngbTabContent>
                Contenido de Perfiles
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

</div>