<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <ul class="breadcrumbs pull-left">
                    <li><span><a [routerLink]="['/home']">Parametrizar</a></span></li>
                    <li><span>{{ title }}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ngx-spinner>
    <p style="font-size: 20px; color: white">Guardando</p>
</ngx-spinner>

<div class="main-content-inner">
    <div class="sales-report-area mt-2 mb-5">
        <div class="row removeHeight">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header text-center">
                        <label style="font-size: 14px; color:#212529; font-family: poppins, sans-serif !important;"><b>Glosa
                Genérica</b></label>
                    </div>
                    <div class="card-scroll" style="padding: 0rem;" *ngIf="glosasGenerales && glosasGenerales.length; else mensajeNoGenerales">
                        <ul class="list-group list-group-flush" *ngFor="let glosaGeneral of glosasGenerales; let i = index;">
                            <li id="{{ 'glosag_' + glosaGeneral.codigoGlosa }}" class="list-group-item d-flex justify-content-between" style="cursor:pointer;" (click)="cargarGlosasEspecificas(glosaGeneral)">
                                {{ glosaGeneral.detalleGlosa }}
                                <div class="notification-area pull-right">
                                    <i class="fa fa-chevron-right blue"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ng-template #mensajeNoGenerales>
                        <div class="card-body text-center">
                            <label>No hay glosas registrados.</label>
                        </div>
                    </ng-template>

                </div>
            </div>

            <div class="col col-md-8">
                <div class="card p-0 mb-0 bg-white h-100">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <label style="font-size: 14px; color:#212529; font-family: poppins, sans-serif !important;">
                  <b>Glosa Específica</b></label>
                            </div>
                            <div class="col-sm-12 col-md-6 cardSearch">
                                <div class="search-box">
                                    <form autocomplete="off">
                                        <input id="buscar_glosae" #search type="text" maxlength="250" name="search" placeholder="Buscar Glosa" (keyup)="filterBy(search.value)" [disabled]="!glosaGeneralSeleccionada">
                                        <i class="ti-search"></i>
                                    </form>
                                </div>
                                <div>
                                    <a href="#" *ngIf="hasPermissionsCreate" class="btn btn-primary btn-rounded" id="btn_crear_glosag" data-toggle="modal" data-target="#datos-glosa" (click)="abrirModalGlosa()" [class.disabled]="!glosaGeneralSeleccionada">
                                        <i class="fa fa-plus"></i> Crear
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-scroll" style="padding: 0rem;" *ngIf="resultados && resultados.length; else mensajeNoEspecifica">
                        <ul class="list-group list-group-flush" *ngFor="let g of resultados; let i = index">
                            <li id="{{ 'glosae_' + g.codigoGlosaesp }}" class="list-group-item">
                                {{ g.detalleGlosaEspecifica }}
                                <div class="notification-area pull-right">
                                    <a id="{{ 'btn_editar_glosae_' + g.codigoGlosaesp }}" *ngIf="hasPermissionsUpdate" href="javascript:void(0)" placement="left" ngbTooltip="Editar" class="edit settings-btn" data-toggle="modal" data-target="#datos-glosa" (click)="abrirModalGlosa(g)">
                                        <i class="ti-clipboard"></i>
                                    </a>
                                    <a id="{{ 'btn_eliminar_glosae_' + g.codigoGlosaesp }}" *ngIf="hasPermissionsDelete" href="javascript:void(0)" placement="left" ngbTooltip="Eliminar" class="trash settings-btn" (click)="removeGlosa(g)">
                                        <i class="ti-trash"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <div class="text-right pr--10">
                            <label>Total de registros: {{resultados.length}}</label>
                        </div>
                    </div>
                    <ng-template #mensajeNoEspecifica>
                        <div class="card-body text-center">
                            <label>No hay glosas específicas registradas.</label>
                        </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal crear glosa específica-->
<div class="modal fade" id="datos-glosa">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModalGlosaEspecifica">{{ titleModalGlosaEspecifica }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-btn-modal">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="glosaEspecificaForm" id="glosaEspecificaForm">
                    <div class="row row-padding">
                        <div class="col col-md-6">
                            <label class="col-form-label">Estado:</label>
                            <select class="form-control select-border-fixed" id="select_edo_glosa" formControlName="estado" [ngClass]="{ 'is-invalid': submitted && f.estado.errors }">
                                <option selected disabled value="null">Seleccione una opción</option>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                            <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
                                <div *ngIf="f.estado.errors['required']">Campo obligatorio</div>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <label class="col-form-label">Glosa General:</label>
                            <input id="generalGlosaEspecifica" class="form-control" type="text" formControlName="glosaGeneral" [ngClass]="{ 'is-invalid': submitted && f.glosaGeneral.errors }" />
                            <div *ngIf="submitted && f.glosaGeneral.errors" class="invalid-feedback">
                                <div *ngIf="f.glosaGeneral.errors['required']">Campo obligatorio</div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-padding">
                        <div class="col col-md-6">
                            <label class="col-form-label">Código Glosa:</label>
                            <input id="codigoGlosaEspecifica" trim="blur" class="form-control" type="text" formControlName="codigoGlosaesp" [ngClass]="{ 'is-invalid': submitted && f.codigoGlosaesp.errors }" />
                            <div *ngIf="f.codigoGlosaesp.errors" class="invalid-feedback">
                                <div *ngIf="f.codigoGlosaesp.errors['required']">Campo obligatorio</div>
                                <div *ngIf="f.codigoGlosaesp.errors['maxlength']">Longitud máxima 50 caracteres</div>
                            </div>
                        </div>
                        <div class="col col-md-6">
                            <label class="col-form-label">Nombre de la Glosa:</label>
                            <input id="nombreGlosaEspecifica" trim="blur" class="form-control" type="text" formControlName="detalleGlosaEspecifica" [ngClass]="{ 'is-invalid': submitted && f.detalleGlosaEspecifica.errors }" />
                            <div *ngIf="f.detalleGlosaEspecifica.errors" class="invalid-feedback">
                                <div *ngIf="f.detalleGlosaEspecifica.errors['required']">Campo obligatorio</div>
                                <div *ngIf="f.detalleGlosaEspecifica.errors['maxlength']">Longitud máxima 255 caracteres</div>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            <div>Campo obligatorio</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button id="btn_guardar_glosa_esp" type="button" class="btn btn-outline-primary mb-3" (click)="guardarGlosaEspecifica()">
                    <i class="fa fa-save"></i>
                    <span> Guardar</span>
                </button>
                <button id="btn_cancelar_guardar_glosa" type="button" class="btn btn-outline-secondary mb-3" (click)="cancelBtnAction()">
                    <i class="fa fa-times text-danger"></i>
                    <span> Cancelar</span>
                </button>
            </div>
        </div>
    </div>
</div>