<div class="cardHome">
    <div class="contentCardHome h-100">
        <div class="row align-items-center h-100">
            <div class="mx-auto">
                <div class="card">
                    <img class="" src="assets/images/logos/logoHome.png" alt="Alice Software">
                    <p>Desarrollado por © <b>GRUPO ASD {{ date | date: 'yyyy'}}</b></p>
                    <!-- <div class="accesosDirectos">
                        <div class="row">
                            <div class="col-4">
                                <a class="icoManual nav-item" href="#">Manual de usuario</a>
                            </div>
                            <div class="col-4">
                                <a class="icoLogout nav-item" href="#">Cerrar sesión</a>
                            </div>
                            <div class="col-4">
                                <a class="icoKey nav-item" [routerLink]="['/home', {outlets: {'content': [ 'configuracion' ]}}]">Cambiar contraseña</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>