<!-- Contenido Principal -->
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <ul class="breadcrumbs pull-left">
                    <li><span><a [routerLink]="['/home']">Parametrizar</a></span></li>
                    <li><span>{{ title }}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="main-content-inner">
    <div class="sales-report-area mt-2 mb-5">
        <div class="row removeHeight">
            <div class="col col-md-6">
                <div class="mainButtons">
                    <a href="#" id="crear_tipo_doc" *ngIf="hasPermissionsCreate" class="btn btn-primary" data-toggle="modal" data-target="#modalTipoDoc" (click)="abrirNewForm()">
                        <i class="fa fa-plus"></i> Crear
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search-box pull-right">
                    <form autocomplete="off" (keyup.enter)="filterBy(search.value)">
                        <input id="buscar_tipo_doc" #search maxlength="255" type="text" name="search" placeholder="Buscar tipo de documento" required (keyup)="validarSearch(search.value)">
                        <i class="ti-search"></i>
                    </form>
                </div>
            </div>
        </div>
        <div class="row removeHeight">
            <div class="col col-md-12 pt-2 pb-3">
                <label class="pull-right">Total de registros encontrados:  {{tiposDocumentos.length}}</label>
            </div>
        </div>
        <div class="row removeHeight">
            <div class="col col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="single-table">
                            <div class="table-responsive table-wrapper-scroll-y">
                                <table datatable class="table table-hover progress-table text-justify table-striped" [mfData]="tiposDocumentos" #mf="mfDataTable" [mfRowsOnPage]="20">
                                    <thead>
                                        <th>
                                            <mfDefaultSorter by="codigoTipoDocumento">Código</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="detalleTipoDocumento">Tipo de Documento</mfDefaultSorter>

                                        </th>
                                        <th class="text-center">
                                            <mfDefaultSorter by="estado">Activo</mfDefaultSorter>
                                        </th>
                                        <th class="text-center" *ngIf="hasPermissionsUpdate || hasPermissionsDelete">
                                            <b>Opciones</b>
                                        </th>
                                    </thead>
                                    <tbody *ngIf="tiposDocumentos != null && tiposDocumentos.length > 0">
                                        <tr *ngFor="let tdoc of mf.data">
                                            <td>
                                                {{ tdoc.codigoTipoDocumento }}
                                            </td>
                                            <td>
                                                {{ tdoc.detalleTipoDocumento }}
                                            </td>
                                            <td class="text-center">
                                                <i class="ti-check-box" *ngIf="tdoc.estado == 1"></i>
                                                <i class="ti-na" *ngIf="tdoc.estado != 1"></i>
                                            </td>
                                            <td class="text-center" *ngIf="hasPermissionsUpdate || hasPermissionsDelete">
                                                <ul class="d-flex justify-content-lg-center mb-1">
                                                    <li class="mr-1">
                                                        <a href="javascript:void(0)" *ngIf="hasPermissionsUpdate" class="text-primary" data-toggle="modal" data-target="#modalTipoDoc" placement="bottom" ngbTooltip="Editar tipo de documento" (click)="editarTipoDoc(tdoc)">
                                                            <i class="ti-clipboard"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" *ngIf="hasPermissionsDelete" placement="right" ngbTooltip="Eliminar" class="trash settings-btn" (click)="removerTipoDoc(tdoc)">
                                                            <i class="ti-trash text-danger"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="tiposDocumentos == null || tiposDocumentos.length == 0">
                                        <tr>
                                            <td class="text-center" colspan="4">
                                                <label>No hay tipos de documentos registrados</label>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot *ngIf="tiposDocumentos != null && tiposDocumentos.length > 0">
                                        <tr>
                                            <td colspan="4">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-fade" id="modalTipoDoc">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tipo de Documento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-btn-modal" (click)="cancelar()">
                    <span aria-hidden="true">&times;</span>
                 </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="documentoForm" id="menu1">
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Estado:</label>
                                <select class="form-control select-border-fixed" id="estado" #estado formControlName="estado" [ngClass]="{ 'is-invalid': submitted && f.estado.errors }">                                                                       
                                            <option disabled selected value="null" selected>Seleccione el estado ...</option>
                                            <option *ngFor="let edo of estados" value="{{edo.id}}">{{ edo.valor }}</option> 
                                        </select>
                                <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
                                    <div *ngIf="f.estado.errors['required']">Campo obligatorio</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Código:</label>
                                <input id="codigo_tipo_doc" trim="blur" class="form-control" maxLength="3" placeholder="Escriba un código" formControlName="codigo" [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }" />
                                <div *ngIf="submitted && f.codigo.errors" class="invalid-feedback">
                                    <div *ngIf="f.codigo.errors['required']">Campo obligatorio</div>
                                    <div *ngIf="f.codigo.errors['maxLength']">Longitud máxima 3 caracteres</div>
                                    <div *ngIf="f.codigo.errors['pattern']">Solo es permitido texto. Verifique e intente de nuevo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Nombre de Tipo de Documento:</label>
                                <input id="nombre_tipo_doc" trim="blur" class="form-control" maxLength="255" placeholder="Escriba un nombre" formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
                                <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                                    <div *ngIf="f.nombre.errors['required']">Campo obligatorio</div>
                                    <div *ngIf="f.nombre.errors['maxLength']">Longitud máxima 255 caracteres</div>
                                    <div *ngIf="f.nombre.errors['pattern']">Solo es permitido texto. Verifique e intente de nuevo</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button id="btn_guardar_tipodoc" type="button" class="btn btn-outline-primary mb-3" (click)="guardarTipoDocumento()">
                    <i class="fa fa-save"></i>
                    <span> Guardar</span>
                </button>
                <button id="btn_cancelar_guardar" type="button" class="btn btn-outline-secondary mb-3" (click)="cancelarAction()">
                    <i class="fa fa-times text-danger"></i>
                    <span> Cancelar</span>
                </button>
            </div>
        </div>
    </div>
</div>