<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <ul class="breadcrumbs pull-left">
                    <li><span><a [routerLink]="['/home']">Parametrizar</a></span></li>
                    <li><span>{{ title }}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<ngx-spinner type="square-jelly-box">
    <p style="font-size: 20px; color: white">{{ msjSpinner }}</p>
</ngx-spinner>

<div class="main-content-inner">
    <div class="sales-report-area mt-2 mb-5">
        <div class="row">
            <div class="col col-md-8">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="mainButtons">
                            <a id="btn_importar_cie" *ngIf="hasPermissionsUpload" href="#" class="btn btn-primary" data-toggle="modal" data-target="#file-cie">
                                <i class="fa fa-upload"></i> Importar
                            </a>
                            <div class="linkSecundario align-items-center">
                                <i class="fa fa-arrow-circle-right"></i>
                                <a id="btn_historico_cie" [routerLink]="['/home', {outlets: {'content': [ 'historico-cie' ]}}]">
                                  Histórico de datos no importados
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="search-box pull-right">
                    <form autocomplete="off">
                        <input id="buscar_cups" #search maxlength="255" type="text" name="search" placeholder="Buscar CIE" required (keyup)="filterBy(search.value)">
                        <i class="ti-search"></i>
                    </form>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col col-md-6">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Norma:</span>
                    </div>
                    <select id="select-cie-norma-id" class="form-control" #norma (change)="selectNorma($event)">
                        <option disabled [selected]="normaSelected == null">Seleccione una norma</option>                       
                        <option value="{{ n.id }}"  *ngFor="let n of normas; let i of index;" [selected]="n.id == normaSelected.id">{{ n.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="col col-md-6 text-right" *ngIf="resultados != null && resultados.length > 0">
                <label>Total de registros encontrados:  {{ resultados.length }}</label>
            </div>
        </div>
        <br>
        <div class="row removeHeight">
            <div class="col col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="single-table">
                            <div class="table-responsive table-wrapper-scroll-y">
                                <table datatable class="table table-hover progress-table text-justify table-striped" [mfData]="resultados" #mf="mfDataTable" mfActivePage="1" [mfRowsOnPage]="20">
                                    <thead>
                                        <th>
                                            <mfDefaultSorter by="codigo">CIE</mfDefaultSorter>
                                        </th>
                                        <th>
                                            <mfDefaultSorter by="detalle">Descripción</mfDefaultSorter>
                                        </th>
                                    </thead>
                                    <tbody *ngIf="resultados && resultados.length; else noCie">
                                        <tr *ngFor="let c of mf.data">
                                            <td>
                                                {{ c.codigo }}
                                            </td>
                                            <td>
                                                {{ c.detalle }}
                                            </td>
                                        </tr>
                                    </tbody>
                                    <ng-template #noCie>
                                        <tbody>
                                            <tr>
                                                <td class="text-center" colspan="2">
                                                    <label>No hay CIE registrados</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </ng-template>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <mfBootstrapPaginator></mfBootstrapPaginator>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal importar archivo CIE -->
<div class="modal fade show" id="file-cie">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleModalImportarCups">{{ titleModal }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-btn-modal_carga" (click)="limpiarFile()">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group px-5 mt-3">
                            <h6 class="mb-2"><b>Norma</b></h6>
                            <div class="box">
                                <select id="select-cie-norma-modal-id" class="form-control" (change)="selectNormaModal($event)">
                                        <option disabled [selected]="normaSelectedModal == null">Seleccione una norma</option>
                                        <option value="{{ n.id }}" *ngFor="let n of normas; let i of index;">{{ n.nombre}}</option>
                                    </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row boxUpfile">
                    <div class="col-md-auto">
                    </div>
                    <div class="col-md-auto">
                        <div class="box col-md-auto">
                            <div class="upload-btn-wrapper">
                                <button id="btn-select-archivo" class="btn btnUpload">
                                          <i class="fa fa-file-o"></i> <span></span> Seleccionar archivo...
                                        </button>
                                <input type="file" class="" name="file-input" #fileInput [attr.accept]="'.' + formatos.join(',.')" id="file_input_cups" (change)="onFileChange($event)" />
                            </div>
                            <div>
                                <label>{{ fileTxt }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <ul class="formatos">
                            <li *ngFor="let formato of formatos">Formatos permitidos: <b>{{ formato | uppercase }}</b></li>
                            <li>Si desea ver un formato de ejemplo descárguelo<button id="link_descargar_csv" type="button" class="btn btn-link" (click)="descargaCsv()">AQUÍ</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button id="btn_subir-cie" type="button" class="btn btn-outline-primary mb-3" (click)="importarCie()">
                  <i class="fa fa-upload"></i>
                  <span> Importar</span>
                </button>
            </div>
        </div>
    </div>
</div>