<ngx-spinner>
    <p style="font-size: 20px; color: white">Guardando</p>
</ngx-spinner>
<!-- Contenido Principal -->
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <ul class="breadcrumbs pull-left">
                    <li><span><a [routerLink]="['/home']">Parametrizar</a></span></li>
                    <li><span>{{ title }}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<div class="main-content-inner">
    <div class="sales-report-area mt-2 mb-5">
        <div class="row removeHeight">
            <div class="col-md-12">
                <div class="mainSelect">
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="">Mecanismo de Pago:</span>
                            </div>
                            <select class="form-control select-border-fixed" id="mecanismo_pago" (change)="getServiciosByMecanismoPago($event.target.value)">                                                                       
                                    <option disabled selected value="null" selected>Seleccione...</option>
                                    <ng-container *ngFor="let mec of mecanismos; let i = index;" >
                                         <option value=" {{ mec.id }}" *ngIf="mec.estado == 1" > {{ mec.detalleMecanismo }}</option>
                                    </ng-container>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row removeHeight">
            <div class="col-md-4">
                <div class="card bg-white">
                    <div class="card-header">
                        <label style="font-size: 14px; color:#212529; font-family: poppins, sans-serif !important;">
                                    <b>Servicios</b>
                            </label>
                        <a type="btn" *ngIf="enabledBtnCrear && hasPermissionsCreate" id="crear_menus_modal" href="javascript:void(0)" class="btn btn-rounded btn-primary btn-sm pull-right" data-toggle="modal" data-target="#modalCrearMecanismo" (click)="abrirCreacion()">
                            <i class="fa fa-plus"></i> Crear
                        </a>
                    </div>
                    <div class="card-body card-scroll" style="padding: 0rem;">
                        <ul class="list-group list-group-flush" *ngFor="let s of servicios; let i = index;">
                            <li id="servicio_{{ s.id }}" class="list-group-item" style="cursor: pointer;" (click)="getSoportesByServicios(s)">
                                {{ s.detalleServiciomec }}

                                <div class="notification-area pull-right" *ngIf="hasPermissionsUpdate && hasPermissionsDelete">
                                    <a id="editar_servicio_{{i+1}}" *ngIf="hasPermissionsUpdate" href="javascript:void(0)" placement="left" ngbTooltip="Editar" class="edit settings-btn" data-toggle="modal" data-target="#modalCrearMecanismo" (click)="abrirEdicion(s)">
                                        <i class="ti-clipboard"></i>
                                    </a>
                                    <a id="eliminar_servicio_{{i+1}}" *ngIf="hasPermissionsDelete" href="javascript:void(0)" placement="left" ngbTooltip="Eliminar" class="trash settings-btn" (click)="eliminarServicio(s)">
                                        <i class="ti-trash"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-0 mb-0 bg-white h-100">
                    <div class="card-header text-center">
                        <label style="font-size: 14px; color:#212529; font-family: poppins, sans-serif !important;">
                          <b>Soportes</b>
                        </label>
                    </div>
                    <div class="card-body card-scroll" style="padding: 0rem;">
                        <cdk-drop (dropped)="addToList($event)" [data]="tdocsSeleccionadas">
                            <ul class="list-group list-group-flush" *ngFor="let sop of soportes; let i = index;">
                                <li class="list-group-item d-flex justify-content-between" style="cursor: pointer;">
                                    {{ sop.tipologiaDocumento.detalleTipologia }}
                                    <div class="notification-area pull-right pt--0">
                                        <i class="fa fa-times text-danger" *ngIf="hasPermissionsDelete" placement="left" ngbTooltip="Eliminar" style="cursor: pointer;" (click)="eliminarItem(sop)"></i>
                                    </div>
                                </li>
                            </ul>
                        </cdk-drop>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-0 mb-0 bg-white h-100">
                    <div class="card-header text-center">
                        <label style="font-size: 14px; color:#212529; font-family: poppins, sans-serif !important;">
                            <b>Tipologías de documentos</b>
                        </label>
                    </div>
                    <div class="card-body card-scroll" style="padding: 0rem;" *ngIf="tipologiasDocumento.length > 0">
                        <cdk-drop (dropped)="addToList($event)" [data]="tipologiasDocumento">
                            <ul class="list-group list-group-flush" style="cursor: move;" *ngFor="let tdoc of tipologiasDocumento; let i = index;" cdkDrag>
                                <li draggable="true" class="list-group-item text-center" style="cursor: move;" *ngIf="tdoc.estado == 1">
                                    <label style="cursor: move;"> {{ tdoc.detalleTipologia }}  </label>&nbsp; &nbsp;
                                    <span> 
                                        <div class="notification-area pull-left" *ngIf="hasPermissionsUpdate">
                                                <i class="fa fa-chevron-left blue" style="cursor: move;"></i>
                                        </div>
                                    </span>
                                </li>
                            </ul>
                        </cdk-drop>
                    </div>
                    <div class="card-body card-scroll text-center" style="padding: 0rem;" *ngIf="tipologiasDocumento.length == 0">
                        <label>No hay tipologías de documentos para asociar.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal crear Mecanismo de Pago -->
<div class="modal fade" id="modalCrearMecanismo">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ titleModal }}</h5>
                <button id="close-btn-modal" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelar()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="servicioForm" id="menu1">
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Estado:</label>
                                <select class="form-control select-border-fixed" id="estado" #estado formControlName="estado" [ngClass]="{ 'is-invalid': submitted && f.estado.errors }">                                                                       
                                    <option disabled selected value="null" selected>Seleccione el estado ...</option>
                                    <option *ngFor="let edo of estados" value="{{edo.id}}">{{ edo.valor }}</option> 
                                </select>
                                <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
                                    <div *ngIf="f.estado.errors['required']">Campo obligatorio</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Nombre:</label>
                                <input id="nombreTipologia" trim="blur" class="form-control" maxLength="255" placeholder="Escriba un nombre" #nombreTipo formControlName="detalleServiciomec" [ngClass]="{ 'is-invalid': submitted && f.detalleServiciomec.errors }" />
                                <div *ngIf="submitted && f.detalleServiciomec.errors" class="invalid-feedback">
                                    <div *ngIf="f.detalleServiciomec.errors['required']">Campo obligatorio</div>
                                    <div *ngIf="f.detalleServiciomec.errors['maxLength']">Longitud máxima 255 caracteres</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button id="btn_guardar_menu" type="button" class="btn btn-outline-primary mb-3" (click)="guardarServicio()">
                            <i class="fa fa-save"></i>
                            <span> Guardar</span>
                        </button>
                <button id="btn_cancelar_guardar" type="button" class="btn btn-outline-secondary mb-3" (click)="cancelBtnAction()">
                    <i class="fa fa-times text-danger"></i>
                    <span> Cancelar</span>
                </button>
            </div>
        </div>
    </div>
</div>