<!-- login area start -->
<ngx-spinner>
    <p style="font-size: 20px; color: white">Enviando email...</p>
</ngx-spinner>
<div class="login-area login-s2">
    <div class="container">
        <div class="login-box">
            <form [formGroup]="rememberForm" autocomplete="off">
                <div class="login-form-head">
                    <img src="assets/images/logos/logo-login.png">
                </div>
                <div class="form-footer text-center">
                    <p class="text-muted">R e c o r d a r &nbsp;&nbsp; C o n t r a s e ñ a</p>
                </div>
                <div class="login-form-body">
                    <div class="form-gp">
                        <label for="email">Correo Electrónico</label>
                        <input type="email" trim="blur" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="255" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <i class="ti-email"></i>
                        <span *ngIf="submitted && f.email.errors" class="invalid-feedback-login">
                            <div *ngIf="f.email.errors['required']">
                                Campo obligatorio 
                            </div>
                            <div *ngIf="f.email.errors['maxLength']">
                                    El campo no puede tener mas de 255 caracteres. Intente de nuevo.
                            </div>
                            <div *ngIf="f.email.errors['pattern']">
                               El email no es válido. Intente de nuevo.
                            </div>
                        </span>
                    </div>

                    <div class="form-gp">
                        <label for="identificacion">Identificación</label>
                        <input type="text" trim="blur" id="identificacion" formControlName="identificacion" [ngClass]="{ 'is-invalid': submitted && f.identificacion.errors }">
                        <i class="ti-id-badge"></i>
                        <span *ngIf="submitted && f.identificacion.errors" class="invalid-feedback-login">
                                <div *ngIf="f.identificacion.errors['required']">
                                    Campo obligatorio 
                                </div>
                                <div *ngIf="f.identificacion.errors['maxLength']">
                                    El campo no puede tener mas de 255 caracteres. Intente de nuevo.
                                </div>                               
                            </span>
                    </div>

                    <div class="row mb-4 rmber-area">
                        <div class="col-12 text-center">
                            <a [routerLink]="['']">Volver al login</a>
                        </div>
                    </div>
                    <div class="submit-btn-area">
                        <button id="form_submit" type="submit" (click)="recordarContrasena()">Recordar <i class="ti-arrow-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <span class="copyright text-center">
        Desarrollado por <b>Giovanni Mora Jaimes</b>
        <br>Email: giovannimora0527@gmail.com       
        <br><i class="fa fa-copyright" aria-hidden="true"></i>&nbsp; Bogotá - Colombia {{ anio }}
    </span>
</div>
<!-- login area end -->